
.brandPage {
  width: 92%;
  margin: 0 auto 3em auto;
  height: auto;
}
.productCards{
  cursor: pointer;
  /* border: 1px solid red; */
}
.headerBrand{
    /* border: 1px solid red; */
width: 100%;
}
.mainBrand{
    /* border: 1px solid red; */
width: 100%;
height: auto;
margin: 0 auto;
}

.addComp {
  height: 2%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding: 1.3em;
}

.firstBox {
    display: none;
    align-items: center;
    gap: 30px;
    justify-content: space-between;
    width: 100%;
}

.filterBtn {
    display: flex;
    align-items: center;
    gap: 10px;
    cursor: pointer;
    background-color: #F9F1E8;
    border: 1px solid #D81A84;
    border-radius: 6px;
    padding: 13px 18px;
}
.filterBtn img {
    width: 20px;
}
.filterBtn span {
    font-size: 1.1rem;
}

.mainProduct{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    /* gap: 1.2em; */

}
/* .products{
width: 100%;
display: flex;
flex-direction: row;
flex-wrap:wrap;
justify-content:space-around;
align-content: flex-start;
align-items: stretch;

} */

.products{
 width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex-flow: row wrap;
justify-content: center;
align-items: stretch;
align-content: flex-start; 
gap:1em;
}



.arrow{
display: flex;
justify-content: flex-end;
margin: 1.3em auto;
}


.products {
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-items: stretch;
  align-content: flex-start;
  gap: 1.5em;
  padding: 0 auto;
}


.sideB {
  width: 15%;
  min-width: 180px;
}
/*************************/

@media (max-width:1497px) {
  .products {
    gap: 0.8em
  }

}

@media (max-width:650px) {
  .brandPage {
    width: 100%;
  }
    
}

@media (max-width: 992px) {
  .mainProduct .sideB {
  display: none !important;
    }
}   


/**/

.menuToggle
{
  display: block;
  position: relative;
  z-index: 1; 
  -webkit-user-select: none;
  user-select: none;
}

.menuToggle a
{
  text-decoration: none;
  color: #232323;
  
  transition: color 0.3s ease;
}

.menuToggle a:hover
{
  color: tomato;
}


.menuToggle input
{
  display: block;
  width: 40px;
  height: 32px;
  position: absolute;
  top: -7px;
  left: -5px;
  
  cursor: pointer;
  
  opacity: 0; /* hide this */
  z-index: 2; /* and place it over the hamburger */
  
  -webkit-touch-callout: none;
}

/*
 * Just a quick hamburger
 */
.menuToggle span
{
  display: block;
  width: 33px;
  height: 4px;
  margin-bottom: 5px;
  position: relative;
  
  background: #cdcdcd;
  border-radius: 3px;
  
  z-index: 1;
  
  transform-origin: 4px 0px;
  
  transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              background 0.5s cubic-bezier(0.77,0.2,0.05,1.0),
              opacity 0.55s ease;
}

.menuToggle span:first-child
{
  transform-origin: 0% 0%;
}

.menuToggle span:nth-last-child(2)
{
  transform-origin: 0% 100%;
}

/* 
 * Transform all the slices of hamburger
 * into a crossmark.
 */
.menuToggle input:checked ~ span
{
  opacity: 1;
  transform: rotate(45deg) translate(-2px, -1px);
  background: #232323;
}

/*
 * But let's hide the middle one.
 */
.menuToggle input:checked ~ span:nth-last-child(3)
{
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

/*
 * Ohyeah and the last one should go the other direction
 */
.menuToggle input:checked ~ span:nth-last-child(2)
{
  transform: rotate(-45deg) translate(0, -1px);
}

/*
 * Make this absolute positioned
 * at the top left of the screen
 */
.menu
{
    position: absolute;
    width: 300px;
    margin: -100px 0 0 -50px;
  
    background: #ededed;
    list-style-type: none;
    -webkit-font-smoothing: antialiased;
    transform-origin: 0% 0%;
    transform: translate(-100%, 0);
    transition: transform 0.5s cubic-bezier(0.77,0.2,0.05,1.0);
}

.menu li
{
  padding: 10px 0;
  font-size: 20px;
}

/*
 * And let's slide it in from the left
 */
.menuToggle input:checked ~ ul
{
  transform: none;

}