.brandPage{
    /* border: 1px solid red; */
    width: 92%;
    margin: 0 auto;
    height: auto;

}
.headerBrand{
    /* border: 1px solid red; */
width: 100%;
}
.mainBrand{
    /* border: 1px solid red; */
width: 100%;
height: auto;
margin: 0 auto;
}
.addComp{
    height: 2%;
    /* border: 1px solid black; */
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0.5em;

}
.mainProduct{
    height: auto;
    width: auto;
    display: flex;
    flex-direction: row;
    /* gap: 1.2em; */

}
/* .products{
width: 100%;
display: flex;
flex-direction: row;
flex-wrap:wrap;
justify-content:space-around;
align-content: flex-start;
align-items: stretch;

} */

.products{
 width: 100%;
display: flex;
flex-direction: row;
flex-wrap: wrap;
flex-flow: row wrap;
justify-content: center;
align-items: stretch;
align-content: flex-start; 
gap:1em;
/* border:1px solid red; */
}

/* .products{
    width: 100%;
   display: grid;
   grid-template-columns: repeat(4,1fr);
   grid-auto-flow: row wrap;
 
   justify-content: center;
   align-items: stretch;
   align-content: flex-start; 
   border:1px solid red;
   } */

/**/

.arrow{
display: flex;
justify-content: flex-end;
margin: 1.3em auto;
}
.sideB{
    width: 15%;
}

@media (max-width:1497px){
  .products{
    gap:0.8em
  }
    
}