@import '../../App.css';

 .numbersSection{
    font-family: var(--main-font-family);
    /* border: 3px solid yellow; */
    width: 80%;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
    border: 2px solid #000;

 } 

h1 {
    display: flex;
    width: 100%;
    height: 8%;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    font-weight: normal;
    position: relative;
    margin: 1% 0;
    /* border: 1px solid black; */
    justify-content: center ;
}

h1::after {
    display: block;
    clear: both;
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    max-width: 7%;
    height: 1px;
    width: 50%;
    border-bottom: 3px solid #000;
    margin: 0 auto;
    padding: 0px 0px;
}

/* Image section style*/
.imageSection {
    display: flex;
    flex-direction: column;
    height: 85%;
    width: 100%;
    margin: 0 auto;
    /* border: 1px solid red; */
    align-items: center;
    justify-content: space-around;
    border: 2px solid rebeccapurple;

}

.imageSection1 {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    height: 55%;
    width: 100%;
    margin: 0 auto;
    border: 1px solid yellow;
}

.imageSection2 {
    display: flex;
    /* grid-template-areas: 'a a a b c c'
    'd d d d e e'; */
    /* grid-template-columns: repeat(6,1fr); */
    flex-direction: row;
    justify-content: space-evenly;
    height: 55%;
    width: 100%;
    margin: 0 auto;
    border: 1px solid red;
}

.imageSection1 figcaption,
.imageSection2 figcaption {
    height: 100%;
    border: 0.3em solid #000;
    object-fit: fill;
    color: #FFF ;
    font-size: 2em;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    letter-spacing: 1px;
    /* display: flex;
    align-items: center;
    justify-content: center; */
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    overflow: hidden;

}

.imageSection1 img,
.imageSection2 img {
   width: 100%;
    height: 100%;
display: block;
object-fit: cover;
}

.imageA {
    width: 30%;
    /* background-image: url("../../assets/images/clt.jpg"); */
    background-color: var(--thulian-pink);
    background-repeat: no-repeat;
    background-size:fill; 

}

.imageB {
    /* grid-area: b; */
    /* grid-column: 1fr; */
    /* grid-column-start: 4;
    grid-column-end: 5; */
    width: 30%;
    /* background-image: url("../../assets/images/hp.jpg"); */
    background-color: var(--thulian-pink);

    background-size: contain;
    background-repeat: no-repeat;
}

.imageC {
    /* grid-area: c; */
    /* grid-column: 6fr ; */
    /* grid-column-start: 5;
    grid-column-end: 6; */
    width: 35%;
    /* background-image: url("../../assets/images/makeup3.jpg"); */
    background-color: var(--thulian-pink);

    background-size: contain;
    background-repeat: no-repeat;
}

.imageD {   
    width: 53%;
    /* background-image: url("../../assets/images/fashion7.jpg"); */
    background-color: var(--thulian-pink);
    background-repeat: no-repeat;
    background-size: contain;

}

.imageE {
    width: 75%;
    /* background-image: url("../../assets/images/clt.jpg"); */
    background-color: var(--thulian-pink);

    background-repeat: no-repeat;
    background-size: contain;

}

@media (max-width:950px){
    .imageSection1 {
        height: 90%;
    }  
    .imageSection2 {
        height: 90%;
        width: 100%;
    }
    .imageA {
        width: 35%;
    }   
    .imageB {
        width: 35%;
    }   
    .imageC {

        width: 38%;
    }   
    .imageD {   
        width: 58%;
    } 
    .imageE {
        width: 50%; 
    }
}

@media (max-width:750px){
    .imageSection1 {
flex-direction: column;
    }
    
    .imageSection2 {
   flex-direction: column;
    }

.imageSection1 figcaption,
.imageSection2 figcaption {
    height: 50%;
    width: 70%;
    font-size: 2em;
    justify-content: center;
    align-items: center;
}
}