
.purshaseButtons {
  padding-top: 25px;
  display: flex;
  gap: 25px;
}
.counter {
  color: #000;
  font-size: 16px;
  display: flex;
  width: 20%;
  height: 65px;
  padding: 0px 5px;
  justify-content: space-between;
  align-items: center;
  border-radius: 62px;
  background: #F0F0F0;
  border: 1px solid #ccc;
}
.decrease {
  padding: 10px;
  font-size: 25px;  
  cursor: pointer;
}
.count {
  color: #000;
  font-size: 16px;
  flex-grow: 1;
  text-align: center;
}
.increase {
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}
.addToCard {
  width: 40%;
  height: 65px;
  flex-shrink: 0;
  border-radius: 62px;
  background: var(--Thulian-pink, #D96093);
  color: white;
  border: none;
  font-size: 16px;
  transition: .2s;
  cursor: pointer;
  font-weight: bold;
}
.addToCard:hover {
  background: var(--Thulian-pink, #bd5580);
}

.soldOut {
  width: 50%;
  height: 65px;
  flex-shrink: 0;
  border-radius: 62px;
  background-color: #E51E1E;
  color: white;
  border: none;
  font-size: 16px;
  transition: .2s;
  margin-top: 20px;
}

@media (max-width: 992px) {
  .purshaseButtons {
    justify-content: center;
    width: 100%;
  }
  .soldOut {
    width: 40%;
    height: 45px;
  }
}

@media (max-width: 768px) {
  .purshaseButtons {
    justify-content: space-evenly;
    width: 100%;
    gap: 10px
  }
}