.SortByContainer {
    display: flex;
    font-size: 1.1em;
    justify-content: space-evenly;
    width: 14em ;
}

.sortBy {
    color: var(--wenge);
}

.sortDropDown {
    color: var(--black-60);
    height: 100%;
    border: none;
    display: inline-flex;
    width: 55%;
}

.sortDropDown select{
    border: none;
    background: none;
    font-size: 1em;

}
.sortDropDown select:focus{
    outline: none;
}
.sortDropDown select:focus  option:hover{
    border: none;
    background-color: var(--input-color-background);
}

@media (max-width:900px){
    .SortByContainer {
    font-size: 1em;
    width: 14em ;
    }
}

