.inputForm {
    display: flex;
    justify-content: space-between;
    width: 100%;
    align-self: center;
    padding: 0 5%;
    background-color: #adadad59;
    border-top: 2px solid rgba(216, 26, 132, 0.2);
    padding: 1% 10px;
  }
  
  .inputField {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
    display: flex;
    flex-direction: row-reverse;
  }
  
  .sendButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #D81A84;
    color: white;
    cursor: pointer;
    margin-left: 5%;
    font-size: 1em;
  }
  
  .sendButton:hover {
    background-color: rgba(216, 26, 132, 0.7);
  }

