.inputForm {
    display: flex;
    justify-content: space-between;
  }
  
  .inputField {
    flex-grow: 1;
    padding: 10px;
    margin-right: 10px;
    border-radius: 4px;
    border: 1px solid #ddd;
  }
  
  .sendButton {
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    background-color: #D81A84;
    color: white;
    cursor: pointer;
  }
  
  .sendButton:hover {
    background-color: #D81A84;
  }
  