table {
    border-collapse: collapse;
    width: 100%;
    margin: 5px;
}

.title {
    font-size: larger;
    font-weight: bolder;
    color: #D96093;
    size: 50px;
}

table,
th,
td {
    border-bottom: 1px solid black;
}

th,
td {
    padding: 5px;
    text-align: center;
    min-width: 120px;
}

th {
    background-color: #D96093;
    color: #FFF;
}

tr {
    height: 55px;
}
.viewProducts{
text-align: center;
color:var(--wenge);
font-weight: bold;
padding: 0.4em;
cursor: pointer;
width: auto;
height: auto;
font-size: 1.2em;
   
}
.viewProducts:hover{
    color: var(--magenta-dye-color);
}
.tableInput {
    border-radius: 5px;
    height: 40px;
}

.iconCell {
    text-align: center;
    justify-content: space-between;

}

.icon {
    margin: 5px;
    width: 23px;
    height: 23px;
    transition:  all 0.3s;
}

.icon:hover{
width: 27px;
height: 27px;

}
.hed {
    background-color: #F9F1E8;
    color: #374151;
    font-family: lato;
    text-align: left;
    display: flex;
    justify-content: space-between;
    align-items: center;
    size: 40%;
    width: 100%;
    margin-bottom: 1em;
}

.title {
    display: flex;
    text-align: center;
}

.submit {
    text-align: center;
    width: 20%;
    min-width: 130px;
}

.submit input[type="submit"] {
    background-color: #D96093;
    color: #fff;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    width: 50%;
    height: 50px;
    align-items: left;
    font-weight: bold;
    font-size: large;
}

.searchTitle {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 95%;
    margin: 0 auto;
}

.searchTitle .title {
    font-size: 2em;
    margin: 0.5em 0;
    color: black;
    width: 10%;
}

.container {
    width: 95%;
    margin: 1em auto;
    overflow:scroll;

}

.searchValue {
    display: flex;
    flex-direction: row;
    width: 30%;
    justify-content: flex-start;
    align-items: center;
}

.searchValue .selectInput {
    width: 40%;
}
.searchValue .searchInput {
    width: 45%;

}

.logoImage {
    width: 20%;
}

.admin {
    color: #374151;
}

@media (max-width:1000px){
    .searchValue{
        width: 45%;
    }
}
@media (max-width:800px){
    .searchValue{
        width: 60%;
    }
}
@media (max-width:555px){
    .searchValue{
        width: 100%;
        margin: 0 auto;
    }
}
@media (max-width:500px) {
    .title {
        flex-direction: column;
        justify-content: start;
        align-items: flex-start;
    }

    .hed {
        size: 40%;
        width: 100%;
    }

    .searchTitle .title {
        width: 44%;
    }

    .table1 thead {
        overflow: hidden;
        position: relative;
    }

    .container {
        overflow: hidden;
        position: relative;
    }

    table {
        border-collapse: collapse;
        width: 100%;
        margin: 5px;
        overflow-y: scroll;
        display: block;
        max-height: 300px;
    }
}