.productContainer{
    display: grid;
    /* grid-template-columns: 200px auto 200px; */
    grid-template-areas: 'image info quantity';
    width: 65vw;
    column-gap: 30px;
    margin: 30px 30px;
    border-bottom: 1px solid #a7a7a7;
    padding-bottom: 50px;
}

.productImage{
    /* border: 1px solid #D96093; */
    border-radius: 5px;
    grid-area: image;
    width: 200px;
}

.productInfo{

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom: 30px;
    grid-area: info;
    width: auto;
}

.productQuantity{
    display: flex;
    flex-direction: column;
    gap: 50px;
    grid-area: quantity;
    width: 200px;
}


.objName{
    font-size: 1.5rem;
    white-space: nowrap;
    color: #D96093;
}
.objBrand{
    font-weight: bolder;
}

.objDescription{
    max-width: 300px;
}

.productInfo h3, .listColor{
    margin-top: -30px;
}


.inputContainer{
    position: relative;
    margin-top: 20px;
    align-self: flex-end;
}

.price{
    align-self: flex-end;
}

.quantityInput{
    width: 150px;
    height: 50px;
    border-radius: 5px;
    padding-left: 10px;
    font-size: 1em;
}

.quantityInput::-webkit-outer-spin-button,
.quantityInput::-webkit-inner-spin-button{
    -webkit-appearance: none;
}

.inputContainer p{
    position: absolute;
    top: -10px;
    left: 10px;
    background-color: white;
    padding: 0 5px;
}

.price{
    font-size: 1.5em;
}

.removeItem{
    display: flex;
    align-items: center;
    color: white;
    width: fit-content;
    padding: 3px 10px;
    border-radius: 5px;
    border: 1px solid #a7a7a7;
    background-color: #D96093;
    cursor: pointer;
    gap: 5px;

    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.removeItem:hover{
    background-color:rgba(217, 96, 147, 0.8)
}


@media (max-width: 993px) {
    .productContainer{
        /* grid-template-columns: 200px 100px 200px; */
        width: 90vw;
    }
}