header {
    background-color: var(--rose-background-color);
    position: relative;
}

.container {
    width: 90%;
    margin: 0 auto;
    padding: 0 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    width: 160px;
    flex-shrink: 0;
    margin: 10px 0;
}

.content {
    display: flex;
    align-items: center;
    gap: 45px;
}

.burger {
    display: none;
    flex-direction: column;
    cursor: pointer;
}

.bar {
    width: 25px;
    height: 2px;
    background-color: #000;
    margin: 4px 0;
    transition: 0.4s;
}

@media (max-width: 1200px) {
    .content {
        gap: 30px;
    }
}

@media (max-width: 768px) {
    .container .logo img {
        width: 130px;
    }
    .container .content {
        gap: 20px;
    }
}

@media (max-width: 992px) {
    header {
        position: relative;
    }    
    .container {
        position: relative;
    }
    .container .content {
        gap: 20px;
    }
    .burger {
        display: flex;
    }
    .open .content {
        display: flex;
        flex-direction: column;
        gap: 15px;
    }
}