.nav ul {
  display: flex;
  gap: 47px;
}
.nav a {
  color: black;
  font-size: 18px;
}
.nav a:hover {
  color: var(--Magenta-dye, #D81A84);
}

@media (max-width: 992px) {
  .nav {
    position: absolute;
    top: 100%;
    right: 0;
    width: 30%;
    transition: 1s;
  }
    .nav ul {
      display: flex;
      flex-direction: column;
      background-color: #F9F1E8;
      width: 100%;
      gap: 0;
    }
    .nav ul li {
      padding: 20px;
    }
}

@media (max-width: 992px) {
.nav {
    width: 40%;
  }
}