.wrapper{
    width: 48vw;
}
.wrapper, .signinform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    color: var(--Text2, #000);
font-family: Lato;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 30px;
letter-spacing: 1.44px;
align-self: flex-start;
margin-bottom: 10px;
line-height: 60px;
}
.subText{
align-self: flex-start;
    color: var(--Text2, #000);
    margin-bottom: 10px;
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.signinform{
    margin: 5px auto;
    width: 30vw;
}
.signinInp, .passInp{
    margin-bottom: 10px;
}
.submit, .signup{
    margin : 20px 0;
    cursor: pointer;
}
.submit{
    display: flex;
    padding: 10px 20px;
    border: none;
    width: 8rem;
    justify-content: center;
    align-items: center;
    border-radius: 4px;
background: var(--Thulian-pink, #D96093);
color: var(--Text, white);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 700;
}
.signup{
    display: flex;
    border-radius: 4px;
    border: none;
    width: 8rem;
    align-items: center;
    justify-content: center;
    padding:10px 20px;
    color: var(--Thulian-pink, #D96093);
font-family: Lato;
font-size: 18px;
font-style: normal;
font-weight: 700;
background-color: whitesmoke;
}
.buttons{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.OAuth{
    display: flex;
    padding: 10px 86px;
    width: 100%;
    align-items: center;
    justify-content: center;
    gap: 10px;
    border-radius: 4px;
    border: 1px solid rgba(0, 0, 0, 0.40);
    color: var(--Text2, #000);
    font-family: Lato;
    font-size: 20px;
    font-style: normal;
    font-weight: 700;
    line-height: 24px; 
    margin-bottom: 20px;
    cursor: pointer;
    }
.passContainer{
    position: relative;
}
.passEye{
position: absolute;
cursor: pointer;
top: 1rem;
right: 1rem;
}
.pending{
    font-size: 18px;
    font-style: italic;
    animation-name: gradient;
    animation-duration: 4s;
}
.noLogin{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #D96093;
    color: white;
    padding:16px 86px;
    width: 100%;
    font-family: Lato;
    border-radius: 4px;
font-size: 20px;
font-style: normal;
font-weight: 700;
}
@keyframes gradient{
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
@media (max-width:550px) {
  .wrapper{
    width: 100%;
  }
  .signinform{
    width: 100%;
  }
}