.wrapper{
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
}
.centered{
    display: flex;
    align-items: center;
    justify-content: center;
    column-gap: 7rem;
    margin: auto;
    width: 60vw;
    height: 100vh;
}
@media(max-width:550px){
    .left{
        display: none;
    }
}