@import '../../App.css';

/* 
.holder{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
justify-content: space-around;
} */

.card {
    display: flex;
    flex-direction: column;
    width: 21em;
    height: 33em;
    border: 1px solid #E5E7EB;
    color: var(--wenge);
    /* margin: 0 auto; */
}

.imageSec {
    width: 100%;
    height: 75%;
    position: relative;
    display: inline-block;
}

.imageSec img {
    width: 100%;
    height: 100%;
    object-fit: fill;
}

.details {
    width: 100%;
    height: 40%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: flex-start;
    padding: 4px;
    font-size: 1.1em;
    /* padding: 2em auto; */

}

.soldPan {
    align-self: flex-end;
    width: 40%;
    padding: 1%;
}

.priceCard {
    font-weight: bold;
}

.blur {
    opacity: 0.7;
} 

/*****************************/
 
/* @media (max-width:1530px){
    .card {
        width: 17.5em;
        height: 25.5em;
    }
    .details{
        font-size: 0.9em;
    }
    
} */
/* @media (max-width:1497px){
    .card {
        width: 17em;
        height: 25em;
    }
    .details{
        font-size: 0.8em;
    }
    
} */

@media (max-width:979px){
    .card {
        width: 16em;
        height: 28em;
    }
    /* .details{
        font-size: 0.9em;
    } */
    
}

/* @media (max-width:650px){
    .card {
        width: 15em;
        height: 21em;
    }
    .details{
        font-size: 0.8em;
    }
    
} */

@media (max-width:450px){
    .card {
        width: 13em;
        height:25em;
    }
    .details{
        font-size: 0.85em;
    }
    
}