.chatContainer {
    width: 100%;
    margin: auto;
    background: transparent;
    border-radius: 4px;
    padding: 20px;
    overflow-y: auto;
    /* max-height: 400px; */
    height: 100%;
  }
  

  .chatContainer * {
    overflow-anchor: none;
  }

  .anchor {
    overflow-anchor: auto;
    height: 1px;
  }
  /* ... existing styles ... */
  
  .chatMessage {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    color: white;
    display: flex;
    flex-direction: column;
  }
  .chatMessageText{
    margin-bottom: 10px;
  }
  .chatMessageTime{
    color: #d5d5d5;
    text-align: right;
    font-size: 0.9em;
  }
  .sent {
    background: #d30076; /* Light green background for sent messages */
    text-align: left;
    margin-left: 53%; /* Align to the right */
    box-shadow: 0px 0px 3px #d30076;
  }
  /* e8e5e5 */
  .received {
    background: #372d36; /* Light gray background for received messages */
    text-align: left;
    margin-right: 53%; /* Align to the left */
    box-shadow: 0px 0px 3px black;
  }

  /* @media (max-width: 850px) {
    .sent{
      margin-left: 53%;
    }
    .received{
      margin-right: 53%;
    }
  } */
  