.wrapper{
    width: 48vw;
}
.wrapper, .signupform{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
.header{
    color: var(--Text2, #000);
font-family: Lato;
font-size: 36px;
font-style: normal;
font-weight: 500;
line-height: 30px;
letter-spacing: 1.44px;
align-self: flex-start;
}
.subText{
align-self: flex-start;
    color: var(--Text2, #000);
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 400;
line-height: 24px; 
}
.signupform{
    margin: 20px auto;
    width: 100%;
}
.submit, .OAuth{
    margin : 10px 0;
    cursor: pointer;
    border: none;
}
.submit{
display: flex;
width: 100%;
padding: 16px 122px;
justify-content: center;
align-items: center;
gap: 10px;
border-radius: 4px;
background: var(--Thulian-pink, #D96093);
color: var(--Text, white);
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px;
margin-top: 50px;
}
.OAuth{
display: flex;
padding: 16px 86px;
width: 100%;
align-items: center;
justify-content: center;
gap: 10px;
border-radius: 4px;
border: 1px solid rgba(0, 0, 0, 0.40);
color: var(--Text2, #000);
font-family: Lato;
font-size: 20px;
font-style: normal;
font-weight: 700;
line-height: 24px; 
}
.login{
    color: var(--Text2, #000);
font-family: Lato;
font-size: 16px;
font-style: normal;
font-weight: 700;
line-height: 24px; 
opacity: 0.7;
}
.loginbtn{
    text-decoration: none;
    color: #000;
    font-weight: 500px;
}
.passContainer{
    position: relative;
}
.passEye{
position: absolute;
cursor: pointer;
top: 1rem;
right: 1rem;
}
.pending{
    font-size: 18px;
    font-style: italic;
    animation-name: gradient;
    animation-duration: 4s;
}
@keyframes gradient{
    0%   {color: red;}
    25%  {color: yellow;}
    50%  {color: blue;}
    100% {color: green;}
}
@media (max-width:550px) {
    .OAuth,.submit{
        padding: 10px;
    }
}