.chatContainer {
    width: 100%;
    margin: auto;
    background: transparent;
    border-radius: 4px;
    padding: 20px;
    overflow-y: auto;
    /* max-height: 400px; */
    height: 100%;
  }
  

  .chatContainer * {
    overflow-anchor: none;
  }

  .anchor {
    overflow-anchor: auto;
    height: 1px;
  }
  /* ... existing styles ... */
  
  .chatMessage {
    padding: 10px;
    margin: 5px 0;
    border-radius: 4px;
    color: #333;
  }
  
  .sent {
    background: #e8e5e5; /* Light green background for sent messages */
    text-align: left;
    margin-left: 50%; /* Align to the right */
  }
  /* e8e5e5 */
  .received {
    background: #ffc9f6; /* Light gray background for received messages */
    text-align: left;
    margin-right: 50%; /* Align to the left */
  }
  