@import '../../App.css';

.sidebar {
    width: 100%;
    background-color: #F9FAFB;
    color: #1F2937;
    padding: 0.3em;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    min-width: 180px;
}

.sidebar .headTitle {
    text-align: center;
    margin-top: 10px;
}

.sidebar .sideBtn {
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin-top: 20px;
}

.check {
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    align-items: flex-start;
    border:1px solid red;
    gap: 35px;
}

.checklist{
    border: 1px solid black;
    width: 100%;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    gap: 7px;
    font-size: 1em;

}
.checklist .listItems {
    list-style: none;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
    border-spacing: 5px;
}

.checklist input[type="checkbox"] {
    margin-right: 0.4em;
    width: 1.1em;
    height: 1.1em;
}

.checklist .labels {
    flex: 1;
}

.checklist h3 {
    font-size: inherit;
    font-weight: normal;
    font-style: normal;
}

.check {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 20px 30px 30px;
}

.filterBtn {
    text-align: center;
    cursor: pointer;
    padding: 5px 10px;
    font-size: 15px;
    background-color: #D81A84;
    border: none;
    color: white;
    transition: .5s;
}

.filterBtn:hover {
    background-color: #85255B;
}

.reset{
    font-size: 25px;
    height: 34px;
    transition: .5s;
    cursor: pointer;
}

.reset:hover {
    color: #85255B;
}

.price p {
    margin-top: 0;
}
.p{
    margin-bottom: 1em;
}