@import '../../App.css';

 .numbersSection{
    font-family: var(--main-font-family);
    width: 80%;
    margin: 0 auto;
    height: 99vh;
    display: flex;
    flex-direction: column;
    padding: 0;
    gap: 0;
    padding-bottom: 50px;
 } 

.title {
    display: flex;
    width: 100%;
    height: 8%;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    flex-shrink: 0;
    font-weight: normal;
    position: relative;
    margin: 1% 0;
    justify-content: center ;
    margin-bottom: 20px;
    font-size: 45px;
}

.title::after {
    display: block;
    clear: both;
    content: "";
    position: relative;
    left: 0;
    bottom: 0;
    max-width: 10%;
    height: 1px;
    width: 50%;
    border-bottom: 3px solid #000;
    margin: 0 auto;
    padding: 0px 0px;
}

/* Image section style*/
.imageSection {
    display: flex;
    flex-direction: column;
    height: 90%;
    width: 100%;
    margin: 0 auto;
    align-items: center;
    justify-content: space-around;
}
.imageSection1 , .imageSection2{
    display: flex;
    flex-direction: row;
    height: 100%;
    width: 100%;
}
.imageSection1 {
   
    justify-content: space-evenly; 
    margin: 0 auto;
}

.imageSection2 {
    justify-content: center;
    margin: 0 auto;
}


.imageSection1 figcaption,
.imageSection2 figcaption {
    height: 100%;
    border: 0.3em solid #FFF;
    object-fit: fill;
    padding: 1%;
    color: #FFF ;
    font-size: 2em;
    font-style: normal;
    font-weight: 550;
    line-height: normal;
    letter-spacing: 1px;
    display: flex;
    align-items: center;
    justify-content: center;
    word-wrap: break-word;
    overflow-wrap: break-word;
    text-align: center;
    width: 50%;
}

.imageA , .imageB , .imageC , .imageD , .imageE {
    background-repeat: no-repeat;
    background-size:cover;
}

.imageA , .imageB , .imageC  {
  width: 30%;
}
.imageD , .imageE{
    width: 35%;
}

.imageA {
    background-image: url("../../assets/images/jean.jpeg");
}

.imageB {
    background-image: url("../../assets/images/client.jpg");
  
}

.imageC {
    background-image: url("../../assets/images/makeup0.jpg");  
}

.imageD {   
    background-image: url("../../assets/images/shop.jpeg");

}

.imageE {
    background-image: url("../../assets/images/clt.jpg");

}

@media (max-width:940px){
    .imageSection1 {
        display: flex;
        flex-direction:row;
        justify-content: space-evenly;
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
    
    .imageSection2 {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 100%;
        width: 100%;
        margin: 0 auto;
    }
    .imageA , .imageB , .imageC , .imageD , .imageE {
        width: 50%;
    }
}

@media (max-width:750px){
    .title{
        font-size: 1.5em;
    }
    .numbersSection{
        height: auto;
    }
    .imageSection1 {
        height: auto;
flex-direction: column;
justify-content: center;
align-items: center;
    }
    
    .imageSection2 {
        height: auto;

   flex-direction: column;
   justify-content: center;
align-items: center;
    }

.imageSection1 figcaption,
.imageSection2 figcaption {
    height: 10em;
    width: 80%;
    font-size: 1.5em;
    justify-content: center;
    align-items: center;
}
}