.hero {
  background: var(--Rose-Background-Color, #F9F1E8);
  overflow: hidden;
}
.container {
  width: 90%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.mainContent {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 100px;
}

.content {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.content .mainTitle {
  color: #000;
  font-size: 75px;
  font-weight: bold;
}
.content .subTitle {
  color: #000;
  font-size: 35px;
  font-weight: 600;
}
.content p{
  color: var(--Wenge, #534B50);
  font-weight: 400;
  font-size: 20px;
  margin-top: 65px;
  margin-bottom: 50px;
  width: 75%;
}
.content .callToAction {
  padding: 16px 55px;
  border-radius: 62px;
  background: #000;
  color: white;
  font-size: 20px;
  cursor: pointer;
}

.category {
  font-size: 40px;
  text-transform: uppercase;
  cursor:default
}
.categories .clothes {
  color: var(--Murrey, #85255B);
}
.categories .shoes {
  color: var(--Magenta-dye, #D81A84);
  margin-left: 55px;
}
.categories .makeup {
  color: var(--Teal, #378184);
  margin-left: 55px;
}
.image {
  height: 790px;
  margin-top: 10px;

}

.imgHolder{
  width: 50%;
  display: flex;
  justify-content: flex-end;
}
@media (max-width: 992px) {
  .container {
    gap: 20px;
  }
  .category {
    font-size: 27px;
  }
  .category:not(:first-child) {
    margin-left: 20px;
  }
}

@media (max-width: 1200px) {
  .container {
    gap: 50px;
  }
  .content .mainTitle {
    color: #000;
    font-size: 60px;
    font-weight: bold;
  }
  .content .subTitle {
    font-size: 30px;
  }
  .content p {
    font-size: 18px;
    width: 85%;
  }
  .content .callToAction {
    padding: 16px 40px;
    font-size: 18px;
  }
  
  .image {
    height: 600px;
    margin-top: 60px;
  }
}

@media (max-width: 768px) {
  .container {
    padding: 30px 30px 50px;
  }
  .mainContent {
    align-items: center;
    gap: 60px;
  }
  .content {
    align-items: center;
  }
  .content .mainTitle {
    font-size: 40px;
    margin-bottom: 15px;
  }
  .content .subTitle {
    font-size: 25px;
    text-align: center;
  }
  .content p {
    margin: 25px 0;
    font-size: 16px;
    width: 85%;
    text-align: center;
  }
  .callToAction {
    padding: 13px 38px;
  }
  .category {
    font-size: 20px;
  }
  .category:not(:first-child) {
    margin-left: 20px;
  }
  .image {
    display: none;
  }
}