.productView {
  padding-top: var(--padding-section);
  padding-bottom: var(--padding-section)
} 
/* container */
.container {
  width: 90%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: space-evenly;
  gap: 30px;
}

.imageContainer {
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 15px;
}
.threeImages {
  display: flex;
  flex-direction: column;
  gap: 15px;
}
.threeImages img {
  width: 150px;
  height: 200px;
  border-radius: 20px;
}

.mainImage img {
  width: 430px;
  height: 630px;
  border-radius: 20px;
}
.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.content .mainTitle {
  color: #000;
  font-size: 40px;
}
.content .price {
  margin: 20px 0;
  color: #000;
  font-size: 40px;
}
.content .description {
  color: rgba(0, 0, 0, 0.60);
  font-size: 18px;
  margin-top: 20px;
  margin-bottom: 25px;
  width: 100%;
}

.size {
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid rgba(0, 0, 0, 0.10);
}
.size .title {
  color: rgba(0, 0, 0, 0.60);
  font-size: 18px;
  margin-bottom: 20px;
}
.size .sizeButtons {
  display: flex;
  align-items: flex-start;
  gap: 12px;
}
.size button {
  padding: 12px;
  border-radius: 62px;
  background: #F0F0F0;
  color: rgba(0, 0, 0, 0.60);
  font-size: 16px;
  border: none;
  transition: .2s;
  cursor: pointer;
}
.size button:hover {
  background: var(--Thulian-pink, #D96093);
  color: white;
}
.size .l {
  background: var(--Thulian-pink, #D96093);
  color: white;
}

.purshaseButtons {
  padding-top: 20px;
  display: flex;
  gap: 20px;
}
.counter {
  color: #000;
  font-size: 16px;
  display: flex;
  width: 30%;
  height: 65px;
  padding: 16px 15px;
  justify-content: space-between;
  align-items: center;
  border-radius: 62px;
  background: #F0F0F0;
  border: 1px solid #ccc;
}
.decrease {
  padding: 10px;
  font-size: 25px;  
  cursor: pointer;
}
.count {
  color: #000;
  font-size: 16px;
  flex-grow: 1;
  text-align: center;
}
.increase {
  padding: 10px;
  font-size: 25px;
  cursor: pointer;
}
.addToCard {
  width: 40%;
  height: 65px;
  padding: 16px 54px;
  flex-shrink: 0;
  border-radius: 62px;
  background: var(--Thulian-pink, #D96093);
  color: white;
  border: none;
  font-size: 16px;
  transition: .2s;
  flex: 1;
  cursor: pointer;
}
.addToCard:hover {
  background: var(--Thulian-pink, #bd5580);
}

.soldout {
  width: 60%;
  height: 65px;
  padding: 16px 54px;
  flex-shrink: 0;
  border-radius: 62px;
  background-color: #E51E1E;
  color: white;
  border: none;
  font-size: 16px;
  transition: .2s;
  cursor: pointer;
}

@media (max-width: 992px) {
  .container {
    flex-direction: column;
  }

  .imageContainer {
    justify-content: center;
    align-items: center;
  }
  .mainImage {
    max-width: 100%;
  }

  .details {
    align-items: center;
  }
  .content {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .content .description {
    margin-top: 0;
    margin-bottom: 20px;
  }
  .content .price {
    margin: 20px 0;
  }
  .colorsArea {
    padding: 20px 0;
    width: 100%;
  }
  .colorsArea .title {
    text-align: center;
  }
  .colors {
    justify-content: center;
  }
  .size {
    text-align: center;
    padding-top: 20px;
    width: 100%;
  }
  .sizeButtons {
    justify-content: center;
  }
  .purshaseButtons {
    margin-top: 20px;
    width: 100%;
  }
}

@media (max-width: 768px) {
  .mainImage img {
    width: 260px;
    height: auto;
  }
  .threeImages img {
    width: 80px;
    height: auto;
  }
  .content {
    border-bottom: 1px solid rgba(0, 0, 0, 0.10);
  }
  .content .mainTitle,
  .content .price {
    font-size: 25px;
  }
  .content .description {
    width: 90%;
    font-size: 16px;
  }
  .colorsArea {
    border: none;
  }
  .colorsArea .title,
  .size .title {
    font-size: 16px;
  }
  .size {
  border-top: 1px solid rgba(0, 0, 0, 0.10);
  }
  .size .sizeButtons {  
    flex-wrap: wrap;
  }
  .purshaseButtons {
    justify-content: space-evenly;
    width: 100%;
    gap: 10px
  }
}