@import '../../App.css';

.brandTitle {
    display: grid;
    margin: 0 auto;
    width: 80%;
    height: 10%;
    background-color: var(--black-color);
    color: #FFF;
    text-align: center;
    font-size: 46px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.92px;
    padding: 12px 0;

}